.monaco-workbench {
    position: relative;
    font-family: Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

#workbench-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

#workbench-top {
    display: flex;
    flex: 1;
    min-height: 0
}

#sidebarDiv,
#sidebarRightDiv {
    display: flex;
    flex: none;
}

#sidebar {
    width: 300px;
}

.activitybar.bordered.left {
    border-style: solid;
    border-width: 0 1px 0 0;
}

#editorsDiv {
    flex: 1;
    min-width: 0;
}

#editors {
    position: relative;
    min-width: 0;
    height: 100%;
}

#sidebar-right {
    max-width: 500px;
}

#auxiliaryBar-left,
#auxiliaryBar {
    max-width: 300px;
}

#panel {
    display: none;
    flex: 1;
    border: 1px solid var(--vscode-editorWidget-border);
    min-height: 0;
}

#titleBar {
    position: relative;
    flex: none;
}

#banner {
    flex: none;
}

.status-border-top {
    border-top: 1px solid var(--status-border-top-color);
}
